.container,#button-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
.disable-selection,#button-container>div,img {
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
 -webkit-user-select: none; /* Chrome, Safari, and Opera */
 -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.block,#button-container>div{
    border-radius: 10px;
    border-style: double;
    margin-top: 5px;
    padding: 5px;
}
#button-container>div{
    cursor: pointer;
}
#status{
    border-radius: 10px;
    border-style: double;
    width: max-content;
    padding: 5px;
    float: right;
    transform: translate(0,-45px);
}
#status-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #fff0;
    float: right;
    margin-left: 5px;
    margin-right: 2px;
    transform: translate(0,5px);
}
a{
    text-decoration: none;
    color: #900;;
}

#modlist{
    color: #8e030380;
}
#alert{
    background-color: darkorange;
    color: darkred;
    text-align: center;
    padding: 5px;
}
#ip-allert{
    color: #0070ff;
    text-align: center;
    padding: 5px;
}
#ip-allert>a{
    cursor: pointer;
    color: darkorange;
}

#ip-addr{
    background: #b99aff;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    cursor:pointer;
    color: #000;
}
#logo{
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    border: solid 1px rgb(82, 82, 82);
}
#main{
    max-width: 560px;
    padding: 15px;
}
#gallery{
    margin-left: 10px;
    margin-right: 10px;
}
#gallery>img{
    width: 50px;
    height: 35px;
    border-radius: 10px;
    margin-left: 10px;
    cursor:pointer;
    background-color: #f5efef;
    margin-bottom:10px;
    opacity: 0.6;
}